@page "/"
@using Warehouse.Ui.Model
@using Warehouse.Ui.Services
@using System.Globalization
@inject HttpService HttpService
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject NavigationManager NavigationManager

<div align="center" class="container pb-5">
    <div class="row">
        <h3>Склады</h3>
        <br /><br />

        <div class="border border-success py-2">
            <h4>Сводная ведомость складов:</h4>
            @if (_warehouses == null)
            {
                <p>
                    <em>Loading...</em>
                </p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Имя склада</th>
                            <th>Номер площадки</th>
                            <th>Номер пикета</th>
                            <th>Груз на площадке(т)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var warehouse in _warehouses)
                        {
                            @if (!warehouse.Areas.Any() && !warehouse.Pickets.Any())
                            {
                                <tr>
                                    <td>@warehouse.Name</td>
                                    <td>Отсутствует</td>
                                    <td>Отсутствует</td>
                                    <td>Отсутствеут</td>
                                </tr>
                            }
                            else if (!warehouse.Areas.Any() && warehouse.Pickets.Any())
                            {
                                @foreach (var picket in warehouse.Pickets)
                                {
                                    <tr>
                                        <td>@warehouse.Name</td>
                                        <td>Отсутствует</td>
                                        <td>@picket.Name</td>
                                        <td>Отсутствует</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @foreach (var picket in warehouse.Pickets)
                                {
                                    <tr>
                                        <td>@warehouse.Name</td>
                                        <td>@GetAreaNameByPicket(warehouse, picket)</td>
                                        <td>@picket.Name</td>
                                        <td>@GetAreaCargoByPicket(warehouse, picket)</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            }
        </div>

        @* Список складов *@
        <div class="border border-success py-2">
            <h4>Склады</h4>
            <RadzenDataGrid @ref="_warehouseDataGrid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                            Data="@_warehouses" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value="@_selectedWarehouses">
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(WarehouseResponse.Id)" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn Property="@nameof(WarehouseResponse.Name)" Title="Имя склада" Frozen="true" Width="160px" />
                </Columns>
            </RadzenDataGrid>
            <RadzenStack class="py-2" Gap="1rem" AlignItems="AlignItems.Center">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                    <RadzenButton Shade="Shade.Light" Click="@(args => OnAddWarehouse())" Text="Добавить склад" ButtonStyle="ButtonStyle.Success" />
                    @* <RadzenButton Shade="Shade.Light" Click=@(args => OnDeleteWarehouse()) Text="Удалить склад" ButtonStyle="ButtonStyle.Danger" /> *@
                </RadzenStack>
            </RadzenStack>
        </div>

        @* Список пикетов *@
        <div class="border border-success py-2">
            <h4 class="pt-2">Пикеты выбранного склада</h4>
            <RadzenDataGrid @ref="_picketDataGrid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                            Data="@_selectedWarehouses?.FirstOrDefault()?.Pickets" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Multiple" @bind-Value="@_selectedPickets">
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(PicketResponse.Id)" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn Property="@nameof(PicketResponse.Name)" Title="Имя пикета" Frozen="true" Width="160px" />
                </Columns>
            </RadzenDataGrid>
            <RadzenStack class="py-2" Gap="1rem" AlignItems="AlignItems.Center">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                    <RadzenButton Shade="Shade.Light" Click=@(args => OnAddPicket()) Text="Добавить пикет" ButtonStyle="ButtonStyle.Success" />
                    @* <RadzenButton Shade="Shade.Light" Click=@(args => OnDeleteWarehouse()) Text="Delete Picket" ButtonStyle="ButtonStyle.Danger" /> *@
                </RadzenStack>
            </RadzenStack>
        </div>

        @* Список площадок *@
        <div class="border border-success py-2">
            <h4>Площадки выбранного склада</h4>
            <RadzenDataGrid @ref="_areaDataGrid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                            Data="@_selectedWarehouses?.FirstOrDefault()?.Areas" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value="@_selectedAreas">
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(AreaResponse.Id)" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn Property="@nameof(AreaResponse.Name)" Title="Имя площадки" Frozen="true" Width="160px" />
                    <RadzenDataGridColumn Property="@nameof(AreaResponse.CreateTime)" FormatString="{0:MM/dd/yy H:mm:ss}" Title="Дата и время создания" Frozen="true" Width="160px" />
                    @* {0:hh\\:mm\\:ss} *@
                </Columns>
            </RadzenDataGrid>
            <RadzenStack class="py-2" Gap="1rem" AlignItems="AlignItems.Center">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                    <RadzenButton Shade="Shade.Light" Click=@(args => OnAddArea()) Text="Добавить площадку" ButtonStyle="ButtonStyle.Success" />
                    <RadzenButton Shade="Shade.Light" Click=@(args => OnDeleteArea()) Text="Удалить площадку" ButtonStyle="ButtonStyle.Danger" />
                </RadzenStack>
            </RadzenStack>
        </div>

        @* Список грузов *@
        <div class="border border-success py-2">
            <h4>Грузы площадок</h4>
            <RadzenDataGrid @ref="_cargoDataGrid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                            Data="@_selectedAreas?.FirstOrDefault()?.Cargo" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value="@_selectedCargoes">
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(CargoResponse.Id)" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn Property="@nameof(CargoResponse.Weight)" Title="Вес груза" Frozen="true" Width="160px" />
                    <RadzenDataGridColumn Property="@nameof(CargoResponse.LoadTime)" Title="Дата погрузки" FormatString="{0:MM/dd/yy H:mm:ss}" Frozen="true" Width="160px" />
                </Columns>
            </RadzenDataGrid>
            <RadzenStack class="py-2" Gap="1rem" AlignItems="AlignItems.Center">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                    <RadzenButton Shade="Shade.Light" Click=@(args => OnCreateCargo()) Text="Заменить груз" ButtonStyle="ButtonStyle.Success" />
                    <RadzenButton Shade="Shade.Light" Click=@(args => OnDeleteCargo()) Text="Удалить груз" ButtonStyle="ButtonStyle.Danger" />
                </RadzenStack>
            </RadzenStack>
        </div>

    </div>
</div>

@code {
    private IList<WarehouseResponse>? _warehouses;

    private IList<WarehouseResponse>? _selectedWarehouses;
    private IList<PicketResponse>? _selectedPickets;
    private IList<AreaResponse>? _selectedAreas;
    private IList<CargoResponse>? _selectedCargoes;

    private const string AddWarehouseTitle = "Добавление склада";
    private const string AddPicketTitle = "Добавление пикета";
    private const string AddAreaTitle = "Добавление площадки";
    private const string DeleteAreaTitle = "Удаление площадки";
    private const string CreateCargoTitle = "Добавление груза";
    private const string DeleteCargoTitle = "Удаление груза";

    private string _newName = string.Empty;
    private RadzenDataGrid<WarehouseResponse>? _warehouseDataGrid;
    private RadzenDataGrid<PicketResponse>? _picketDataGrid;
    private RadzenDataGrid<AreaResponse>? _areaDataGrid;
    private RadzenDataGrid<CargoResponse>? _cargoDataGrid;

    private DateTime? _tempTime = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        _warehouses = await HttpService.GetWarehousesAsync();
    }

    private string GetAreaNameByPicket(WarehouseResponse warehouse, PicketResponse picket)
    {
        var area = warehouse.Areas.FirstOrDefault(a => a.Pickets.Any(p => p.Id == picket.Id));

        return area?.Name ?? "Отсутствует";
    }

    private string GetAreaCargoByPicket(WarehouseResponse warehouse, PicketResponse picket)
    {
        var area = warehouse.Areas.FirstOrDefault(a => a.Pickets.Any(p => p.Id == picket.Id));

        return area?.Cargo?.FirstOrDefault()?.Weight ?? "Отсутствует";
    }

    private async Task ReloadPagesData()
    {
        _warehouses = await HttpService.GetWarehousesAsync();
        _selectedWarehouses = null;
        _selectedPickets = null;
        _selectedAreas = null;
        _selectedCargoes = null;

        // await _picketDataGrid.Reload();
        // NavigationManager.NavigateTo(NavigationManager.Uri);
    }

    private async Task<bool> ShowNewDialog(string title)
    {
        var result = await DialogService.OpenAsync(title, ds =>
    @<RadzenStack Gap="1.5rem">
        <RadzenCard>
            <RadzenTextArea Placeholder="Введите имя..." @bind-Value=@_newName Style="width: 100%" aria-label="Добавить склад" />
        </RadzenCard>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Ok" Click="() => ds.Close(true)" Style="width: 80px;" />
                <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
        );

        return result is true;
    }

    private async Task<bool> ShowNewCargoDialog()
    {
        var result = await DialogService.OpenAsync("Добавление нового груза", ds =>
    @<RadzenStack Gap="1.5rem">
        <RadzenCard>
            <RadzenTextArea Placeholder="Введите вес т. ..." @bind-Value=@_newName Style="width: 100%" aria-label="Добавить склад" />
            <RadzenStack class="py-2" Gap="1rem" AlignItems="AlignItems.Center">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-p-12">
                    <RadzenLabel Text="Выбрать дату и время загрузки" Component="DatePickerWithTime" />
                    <RadzenDatePicker @bind-Value=@_tempTime ShowTime="true" ShowSeconds="true" HoursStep="1.5" MinutesStep="5" SecondsStep="10" DateFormat="MM/dd/yyyy HH:mm:ss" Name="DatePickerWithTime" />
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Ok" Click="() => ds.Close(true)" Style="width: 80px;" />
                <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
        );

        return result is true;
    }

    private async Task<bool> ShowDeleteDialog(string title)
    {
        var result = await DialogService.OpenAsync(title, ds =>
    @<RadzenStack Gap="1.5rem">
        <RadzenCard>
            <RadzenStack class="py-2" Gap="1rem" AlignItems="AlignItems.Center">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-p-12">
                    <RadzenLabel Text="Выбрать дату и время" Component="DatePickerWithTime" />
                    <RadzenDatePicker @bind-Value=@_tempTime ShowTime="true" ShowSeconds="true" HoursStep="1.5" MinutesStep="5" SecondsStep="10" DateFormat="MM/dd/yyyy HH:mm:ss" Name="DatePickerWithTime" />
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Ok" Click="() => ds.Close(true)" Style="width: 80px;" />
                <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    );

        return result is true;
    }

    private async Task OnAddWarehouse()
    {
        try
        {
            var result = await ShowNewDialog("Добавить склад");

            if (result)
            {
                if (!string.IsNullOrEmpty(_newName))
                {
                    var newWarehouse = await HttpService.CreateWarehouseAsync(new WarehouseResponse
                        {
                            Name = _newName,
                            Areas = new List<AreaResponse>(),
                            Pickets = new List<PicketResponse>()
                        });
                    if (newWarehouse != null)
                    {
                        await ReloadPagesData();

                        SendNotificationMessage(AddWarehouseTitle, "Склад добавлен");
                    }
                }
                else
                {
                    SendNotificationMessage(AddWarehouseTitle, "Не удалось добавить склад! Имя не должно быть пустым!", NotificationSeverity.Error);
                }
            }
        }
        catch
        {
            SendNotificationMessage(AddWarehouseTitle, "Не удалось добавить склад!", NotificationSeverity.Error);
        }
    }

    private async Task OnAddPicket()
    {
        try
        {
            if (_selectedWarehouses == null
                || !_selectedWarehouses!.Any())
            {
                SendNotificationMessage(AddWarehouseTitle, "Не удалось добавить пикет! Должен быть выбран склад!", NotificationSeverity.Error);
                return;
            }

            var result = await ShowNewDialog("Добавить пикет");

            if (result
                && !string.IsNullOrEmpty(_newName)
                && int.TryParse(_newName, out var picketName)
                && _selectedWarehouses!.First().Pickets.All(p => p.Name != picketName))
            {
                var newPicket = await HttpService.CreatePicketAsync(new PicketResponse
                    {
                        Name = picketName,
                        WarehouseId = _selectedWarehouses.First().Id
                    });

                if (newPicket != null)
                {
                    await ReloadPagesData();

                    SendNotificationMessage(AddPicketTitle, "Пикет добавлен");
                }
            }
            else
            {
                SendNotificationMessage(AddPicketTitle, "Не удалось добавить пикет! Имя должно быть уникальным!", NotificationSeverity.Error);
            }
        }
        catch
        {
            SendNotificationMessage(AddPicketTitle, "Не удалось добавить пикет!", NotificationSeverity.Error);
        }
    }

    private async Task OnAddArea()
    {
        var selectedPickets = _selectedPickets;

        if (selectedPickets == null || !selectedPickets.Any())
        {
            SendNotificationMessage(AddAreaTitle, "Необходимо выбрать пикеты!");
            return;
        }

        //Проверить что пикеты не заняты не одной площадкой
        var areas = _selectedWarehouses?.First().Areas;

        var busyPickets = selectedPickets
            .Where(p => areas.SelectMany(a => a.Pickets).Any(pic => pic.Id == p.Id))
            .ToList();

        if (busyPickets.Any())
        {
            SendNotificationMessage(AddAreaTitle, "Выбранные пикеты заняты!", NotificationSeverity.Error);
            return;
        }

        //Если не один пикет
        if (selectedPickets.Count > 1)
        {
            //Если несколько пикетов
            //Проверить, что они идут по порядку
            for (int i = 1; i < selectedPickets.Count; i++)
            {
                if (selectedPickets[i].Name != selectedPickets[i - 1].Name + 1)
                {
                    SendNotificationMessage(AddAreaTitle, "Выбранные пикеты должны идти по порядку!", NotificationSeverity.Error);
                    return;
                }
            }
        }

        var areaResponse = new AreaResponse
            {
                Cargo = new List<CargoResponse>(),
                Name= string.Empty,
                Pickets = selectedPickets,
                CreateTime = DateTime.Now,
                WarehouseId = _selectedWarehouses?.First().Id ?? -1
            };

        if (await HttpService.CreateAreaAsync(areaResponse))
        {
            SendNotificationMessage(AddAreaTitle, "Площадка добавлена!");

            await ReloadPagesData();
        }
        else
        {
            SendNotificationMessage(AddAreaTitle, "Не удалось добавить площадку!", NotificationSeverity.Error);
        }
    }

    private async Task OnDeleteArea()
    {
        if (_selectedAreas == null || !_selectedAreas.Any())
        {
            SendNotificationMessage(DeleteAreaTitle, "Необходимо выбрать площадку!");
            return;
        }

        var selectedArea = _selectedAreas.First();

        try
        {
            var result = await ShowDeleteDialog("Удаление площадки");

            if (result)
            {
                if (_tempTime < selectedArea.CreateTime)
                {
                    SendNotificationMessage(DeleteAreaTitle, "Время удаления площадки должно быть позже ее создания");
                    return;
                }

                selectedArea.DeleteTime = _tempTime!.Value;

                await HttpService.DeleteAreaAsync(selectedArea);

                await ReloadPagesData();

                SendNotificationMessage(DeleteAreaTitle, "Площадка и груз удалены!");
            }
        }
        catch
        {
            SendNotificationMessage(DeleteAreaTitle, "Не удалось удалить площадку!");
        }
    }

    private async Task OnCreateCargo()
    {
        if (_selectedAreas == null || !_selectedAreas.Any())
        {
            SendNotificationMessage(CreateCargoTitle, "Необходимо выбрать площадку!");
            return;
        }

        var selectedArea = _selectedAreas.First();

        try
        {
            var result = await ShowNewCargoDialog();

            if (result)
            {
                var weightIsDecimal = decimal.TryParse(_newName, out var weight);

                if (_tempTime > selectedArea.CreateTime || !weightIsDecimal )
                {
                    SendNotificationMessage(CreateCargoTitle, "Время создания площадки должно быть раньше создания груза");
                    return;
                }

                var cargoResponse = new CargoResponse
                    {
                        AreaId = selectedArea.Id,
                        LoadTime = _tempTime!.Value,
                        Weight = weight.ToString(CultureInfo.InvariantCulture)
                    };

                if (await HttpService.CreateCargoAsync(cargoResponse))
                {
                    SendNotificationMessage(CreateCargoTitle, "Груз добавлен!");

                    await ReloadPagesData();
                }
                else
                {
                    SendNotificationMessage(CreateCargoTitle, "Не удалось добавить груз!", NotificationSeverity.Error);
                }
            }
        }
        catch
        {
            SendNotificationMessage(CreateCargoTitle, "Не создать груз!");
        }
    }

    private async Task OnDeleteCargo()
    {
        if (_selectedCargoes == null || !_selectedCargoes.Any())
        {
            SendNotificationMessage(DeleteCargoTitle, "Необходимо выбрать груз!");
            return;
        }

        var selectedCargo = _selectedCargoes.First();

        try
        {
            var result = await ShowDeleteDialog("Удаление груза");

            if (result)
            {
                if (_tempTime < _selectedCargoes.First().LoadTime)
                {
                    SendNotificationMessage(DeleteCargoTitle, "Время удаления площадки должно быть позже ее создания");
                    return;
                }

                selectedCargo.UnloadTime = _tempTime!.Value;

                await HttpService.DeleteCargoAsync(selectedCargo);

                await ReloadPagesData();

                SendNotificationMessage(DeleteCargoTitle, "Груз удален");
            }
        }
        catch
        {
            SendNotificationMessage(DeleteCargoTitle, "Не удалось удалить площадку!");
        }
    }

    private void SendNotificationMessage(string title, string message, NotificationSeverity severity = NotificationSeverity.Info)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = title, Detail = message });
    }

}